a {
	text-decoration: none;
}
a:hover,
.blockFeed dd a:hover.subject,
.blockFeed dd a:hover.link strong,
.blockFeed dd a:hover.link p,
.blockFeed dd a:hover.link p b,
* html .movieFeed li a:hover strong,
* html .movieFeed li a:hover p,
* html .movieFeed2 li a:hover strong,
* html .movieFeed2 li a:hover p,
* html .blockFeed dd a:hover strong,
* html .blockFeed dd a:hover p {
	color: #f63 !important;
}
.blockFeed dd .meta a:hover {
	text-decoration: underline;
}